APP_VERSION=0.1.0
PORT=8080
LOG_LEVEL=info
JWT_ISSUER=learnhub
JWT_SECRET=learnhub-jwt-lab-secret
POSTGRES_HOST=postgresql
POSTGRES_DB=learnhub
POSTGRES_USER=learnhub
POSTGRES_PASSWORD=learnhub-postgres-lab-password
REDIS_ADDR=redis:6379
NATS_URL=nats://nats:4222
MINIO_ENDPOINT=minio:9000
MINIO_ROOT_USER=learnhub
MINIO_ROOT_PASSWORD=learnhub-minio-lab-password
SMTP_HOST=smtp.local
SMTP_USERNAME=learnhub
SMTP_PASSWORD=learnhub-smtp-lab-password

